
<!-- Observable Stream
        -User Input(Button Click Event)
        -Http Request
        - Array
        - Object

Observable Handle(subscribe)
       -Data
       -Error
       -Completion
       
       . subscribe(
        (data)=> console.log(data),
        (error) => console.log(error),
        ()=> console.log('complete')
       ) -->
 
       <div class="m-3">
        <div>
          <p class="fs-3 m-3">Observables</p>
        </div>
        <br>
        <div class="m-3">
                <router-outlet></router-outlet>
        </div>
       </div>

      